<DModal
  class="composer-audio-upload-modal"
  @closeModal={{@closeModal}}
  @title={{theme-i18n "composer_audio_upload.title"}}
  @dismissable={{false}}
  @flash={{this.flash}}
  {{did-insert this.onShow}}
  {{will-destroy this.onCancelRecording}}
>
  <:body>
    <div class="composer-audio-upload-buttons">
      <DButton
        @action={{this.startStopRecording}}
        @icon={{if this.isRecording "stop-circle" "circle"}}
        @translatedLabel={{theme-i18n
          (if
            this.isRecording
            "composer_audio.action.stop_recording"
            "composer_audio.action.start_recording"
          )
        }}
        class="btn record-button
          {{if this.isRecording 'btn-danger' 'btn-secondary'}}"
        disabled={{this.disallowRecord}}
      />
    </div>
    <div class="composer-audio-upload-audio">
      {{#if this.isLoading}}
        <span class="wait-text">{{~htmlSafe
            (theme-i18n "composer_audio.state.loading")
          ~}}</span>
      {{else if this.isProcessing}}
        <span class="wait-text">{{~htmlSafe
            (theme-i18n "composer_audio.state.processing")
          ~}}</span>
      {{else if this.isRecordingStart}}
        <span class="wait-text">{{~htmlSafe
            (theme-i18n "composer_audio.state.recording_start")
          ~}}</span>
      {{else if this.isRecording}}
        {{~htmlSafe (theme-i18n "composer_audio.state.recording")~}}
      {{else if this.hasRecording}}
        {{this._audioEl}}
      {{else}}
        {{~htmlSafe (theme-i18n "composer_audio.state.no_recording")~}}
      {{/if}}
    </div>
    <div class="composer-audio-upload-metadata">
      {{#if this.hasRecording}}
        <span>{{~htmlSafe
            (theme-i18n "composer_audio.metadata.size" size=this.recordingSize)
          ~}}</span>
      {{/if}}
    </div>
  </:body>
  <:footer>
    <DButton
      @action={{this.uploadFile}}
      class="btn-primary"
      @icon={{this.uploadIcon}}
      @label="upload"
      @disabled={{this.disallowUpload}}
    />
    <DButton @label="cancel" @class="btn-flat" @action={{@closeModal}} />
  </:footer>
</DModal>