{{#d-modal-body
  class="composer-audio-upload-modal" icon="microphone" dismissable=false
}}
  <div class="composer-audio-upload-buttons">
    <button
      class="btn {{if isRecording 'btn-danger' 'btn-secondary'}}"
      type="button"
      {{action "startStopRecording"}}
      class="record-button"
      disabled={{disallowRecord}}
    >
      {{#if isRecording}}
        <span class="fa fa-stop-circle"></span>
        Stop recording
      {{else}}
        <span class="fa fa-circle"></span>
        Start recording
      {{/if}}
    </button>
  </div>
  <div class="composer-audio-upload-audio">
    {{#if isProcessing}}
      <span class="wait-text">Processing audio data, please wait...</span>
    {{else if isRecordingStart}}
      <span class="wait-text">Initializing audio recording...</span>
    {{else if isRecording}}
      Recording in progress, speak now :-)
    {{else if hasRecording}}
      {{_audioEl}}
    {{else}}
      Nothing has been recorded yet
    {{/if}}
  </div>
  <div class="composer-audio-upload-metadata">
    {{#if hasRecording}}
      <span>Size: {{recordingSize}}</span>
    {{/if}}
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    action=(action "uploadFile")
    class="btn-primary"
    icon=uploadIcon
    label="upload"
    disabled=disallowUpload
  }}
  {{d-modal-cancel close=(action "closeModal")}}
</div>